<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biz haqimizda</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .main-content {
            padding: 20px;
        }
        .header, .footer {
            background-color: #f8f9fa;
            padding: 10px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <h1>Yemak.uz</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'home'%}">Bosh sahifa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'cauntry' %}">Davlatlar</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'allfoods'}">Barcha taomlar</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'about' %}">Biz haqimizda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bog'lanish</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Main Content -->
    <div class="container main-content">
        <h2>{{about.founder}}</h2>
        <p>{{about.description}}</p>
        
    </div>

    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2024 Your Website Name. All rights reserved.</p>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
